<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container mt-5 text-center">

    <!-- Main welcome article -->
    <article>
        <h1 class="fs-1 mb-4"><%= title %></h1>
        <p class="wlcm fs-4">Welcome to my Portfolio</p>
    </article>

</div>

<%- include('partials/footer') %>
